<form class="create">
{{!-- action="/api/users/updatelisting{{id}}" method="post"> --}}
        <div class="title_header">
          <h3>EDIT LISTING</h3>
        </div>
        <div class="form_body">
          <div>
            {{!-- <h3 class="post_title">MATERIAL:</h3>
            <input id="material-selection" type="hidden" name='listing_id' value='{{listing.id}}' value="{{listing.material.type}}"></input> --}}

            {{!-- <select id="material-selection" name="material_id"> {{listing.materials.[{{listing.materials.[0].id}}].type}}

              <option value="{{materials.[0].id}}">{{materials.[0].type}}</option>
              <option value="{{materials.[1].id}}">{{materials.[1].type}}</option>
              <option value="{{materials.[2].id}}">{{materials.[2].type}}</option>
              <option value="{{materials.[3].id}}">{{materials.[3].type}}</option>
              <option value="{{materials.[4].id}}">{{materials.[4].type}}</option>
              <option value="{{materials.[5].id}}">{{materials.[5].type}}</option>
              <option value="{{materials.[6].id}}">{{materials.[6].type}}</option>
              <option value="{{materials.[7].id}}">{{materials.[7].type}}</option>
              <option value="{{materials.[8].id}}">{{materials.[8].type}}</option>
              <option value="{{materials.[9].id}}">{{materials.[9].type}}</option>
              <option value="{{materials.[10].id}}">{{materials.[10].type}}</option>
            </select> --}}


            {{!-- <h3 class="post_title">PHOTO:</h3>
            <input type="file" id="photo-selection"> {{listing.photo}}</input> --}}
            
            <input type="hidden" id="hiddenListing" name='listing_id' value='{{listing.id}}'></input>

            <h3 class="post_title">DESCRIPTION:</h3>
            <textarea id="material-description">{{listing.description}}</textarea>

            <h3 class="post_title">AMOUNT:</h3>
            <textarea id="material-amount">{{listing.amount}}</textarea>

            <h3 class="post_title">LOCATION:</h3>
            <input id="material-location" value="{{listing.location}}">
            </input>

            <h3 class="post_title">CONTACT:</h3>
            <input id="material-contact" value="{{listing.contact}}"></input>
          </div>

          <button type="click" id="saveBtn">
            <h3>SAVE</h3>
          </button>

          <button type="click" id="deleteBtn">
            <h3>DELETE</h3>
          </button>

        </div>
      </form>

      <script src="../js/edit.js"></script>
      <script src="../js/delete.js"></script>

{{!-- <p>vvvvvvvvvvvvvvvvvv Test area vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
      <div class="form_body">
    <p>{{listing.material.type}}</p>
    <p>{{listing.description}}</p>
    <p>{{listing.amount}}</p>
    <p>{{listing.location}}</p>
    <p>{{listing.user.username}}</p>
        <form class="create" action="/api/users/updatelisting/{{listing.id}}" method="post" id="testform">
        <h1>Test area</h1>
              <textarea id="description" name="description" rows="4" cols="50">
        {{listing.description}}
      </textarea>
     <input type="hidden" name='listing_id' value='{{listing.id}}'>
     <input type="hidden" name='material_type' value='{{listing.material.type}}'>
     <input type="hidden" name='amount' value='{{listing.amount}}'>
     <input type="hidden" name='location' value='{{listing.location}}'>
    </form>
    <button type="submit" form="testform" value="Submit">TEST IT</button>
      </div> --}}