<div class="dash">
    <div class="title_header">
        <h3>{{username}}</h3>
        <a id="logout" href="/logout">
          <h3>LOGOUT</h3>
        </a>
    </div>
    <div class="dash_body">
      <div id="your_posts">
        <h4>Your posts:</h4>
      </div>

    {{#if listings.length}}
    {{#each listings as |listing|}}
      <div class="user_posts">

        <input type="hidden" id="hiddenListing" name='listing_id' value='{{listing.id}}'></input>
        
        {{!-- SELECT USER POST TO ROUTE TO EDIT VIEW --}} 
        <a href="/editlisting/{{listing.id}}">
          <h3 class="post_title">{{listing.amount}}</h3>
          <h5 id="post_date">{{format_date listing.createdAt}}</h5>
        </a>

        {{!-- DELETE BUTTON  --}}
        <div id="trashcan">
          <button class="delete" id="deleteBtn" 
          {{!-- action="/listings/deletelisting/{{listing.id}}" method="delete"  --}}
          type="click">
              <img id="trashcan-icon" src="../images/trashcan.png"/>
          </button>
        </div>

 

      </div>
    {{/each}}
    {{/if}}
   
    {{!-- GO TO CREATE FORM --}}
      <a href="/newlisting">
        <button class="create" 
        {{!-- action="/api/users/createlisting"  --}}
        {{!-- method="get"  --}}
        type="click" id="createBtn">
           <h3>LIST RECYCLABLES</h3>
        </button>
      </a>

    </div>
</div>
<script src='/js/delete.js'></script>
{{!-- <script src='/js/logout.js'></script> --}}
